CDS.solutions/Dynamics365HigherEdPortal/Extracts/Base/Workflows/NotesPortal-PrefixWEBfornotesonStudentResource-9AED6CCA-5920-EB11-A813-000D3A378C4B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mshied_sharedcommondataserviceforapps_124f1"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Note_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"annotation","subscriptionRequest/scope":1},"authentication":"@parameters('$authentication')"}}},"actions":{"If_Regarding_is_of_type_Student_Resource_and_no_WEB_text":{"actions":{"Prefix_Note_description_with_*WEB*":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","recordId":"@outputs('Retrieve_Note_record')?['body/annotationid']","item/notetext":"*WEB*@{outputs('Retrieve_Note_record')?['body/notetext']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Retrieve_Note_record":["Succeeded"]},"expression":{"and":[{"equals":["@outputs('Retrieve_Note_record')?['body/objecttypecode']","mshied_studentresource"]},{"or":[{"equals":["@outputs('Retrieve_Note_record')?['body/notetext']","@null"]},{"not":{"startsWith":["@outputs('Retrieve_Note_record')?['body/notetext']","*WEB*"]}}]}]},"type":"If"},"Retrieve_Note_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","recordId":"@triggerOutputs()?['body/annotationid']","$select":"annotationid,objecttypecode,notetext"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}