CDS.solutions/EducationAcceleratorCommon/Extracts/Base/Workflows/Appointment-AddRegardingasRequiredAttendee-47C746F8-881F-EB11-A813-000D3A378C4B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"appointment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"regardingobjectid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Retrieve_Appointment_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"appointments","recordId":"@triggerOutputs()?['body/activityid']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_to_determine_if_we_must_update_attendees":{"runAfter":{"Retrieve_Appointment_record":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AddRegardingToRequiredAttendees","type":"boolean","value":"@true"}]}},"If_Regarding_field_is_type_contact,_continue":{"actions":{"Retrieve_Required_Activity_Parties_for_Appointment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"activityparties","$filter":"_activityid_value eq '@{outputs('Retrieve_Appointment_record')?['body/activityid']}' and participationtypemask eq 5"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Activity_Party":{"foreach":"@outputs('Retrieve_Required_Activity_Parties_for_Appointment')?['body/value']","actions":{"If_party_already_has_regarding,_update_variable":{"actions":{"Mark_as_not_needing_an_update":{"runAfter":{},"type":"SetVariable","inputs":{"name":"AddRegardingToRequiredAttendees","value":"@false"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_Activity_Party')?['_partyid_value']","@outputs('Retrieve_Appointment_record')?['body/_regardingobjectid_value']"]},"type":"If"},"Append_to_new_activity_parties":{"runAfter":{"If_party_already_has_regarding,_update_variable":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"NewActivityPartiesWithRegarding","value":{"participationtypemask":5,"partyid@odata.bind":"@{items('Apply_to_each_Activity_Party')?['_partyid_value@Microsoft.Dynamics.CRM.lookuplogicalname']}s(@{items('Apply_to_each_Activity_Party')?['_partyid_value']})"}}}},"runAfter":{"Retrieve_Required_Activity_Parties_for_Appointment":["Succeeded"]},"type":"Foreach"},"If_regarding_variable_marked_as_update,_add_to_required_attendees":{"actions":{"Apply_to_each":{"foreach":"@outputs('Retrieve_Required_Activity_Parties_for_Appointment')?['body/value']","actions":{"Update_Appointment_Regarding_Attendees":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"appointments","recordId":"@outputs('Retrieve_Appointment_record')?['body/activityid']","item/activitypointer_activity_parties":"@variables('NewActivityPartiesWithRegarding')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Apply_to_each_Activity_Party":["Succeeded"]},"expression":{"equals":["@variables('AddRegardingToRequiredAttendees')","@true"]},"type":"If"}},"runAfter":{"Initialize_variable_for_new_activity_parties,_if_needed":["Succeeded"]},"expression":{"equals":["@outputs('Retrieve_Appointment_record')?['body/_regardingobjectid_value@Microsoft.Dynamics.CRM.lookuplogicalname']","contact"]},"type":"If"},"Initialize_variable_for_new_activity_parties,_if_needed":{"runAfter":{"Initialize_variable_to_determine_if_we_must_update_attendees":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"NewActivityPartiesWithRegarding","type":"array","value":[{"participationtypemask":5,"partyid@odata.bind":"contacts(@{outputs('Retrieve_Appointment_record')?['body/_regardingobjectid_value']})"}]}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}