CDS.solutions/EducationAcceleratorCommon/Extracts/Base/Workflows/FL-Appointments-UpdateStatusCodeandStateCode-16B5FFE3-A608-EB11-A813-0022480822CA.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mshied_sharedcommondataserviceforapps_124f1"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_Appointment_Record_is_created_or_Updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"appointment","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"mshied_appointmentstatus"},"authentication":"@parameters('$authentication')"}}},"actions":{"Updated_StateCode_StatusCode_based_on_Appointment_Status":{"actions":{"Update_StatusCode_and_StateCode_fields":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"appointments","recordId":"@triggerOutputs()?['body/activityid']","item/statuscode":5,"item/statecode":3},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Update_StatusCode_and_StateCode_fields_if_it's_not_scheduled":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"appointments","recordId":"@triggerOutputs()?['body/activityid']","item/statuscode":2,"item/statecode":0},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/mshied_appointmentstatus']",494280000]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}