CDS.solutions/EducationAcceleratorCommon/Extracts/Base/Workflows/FL-CourseHistory-UpdateIsCourseCompleted-3E2932F2-6A02-EB11-A813-000D3A33F11E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mshied_sharedcommondataserviceforapps_124f1"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Course_History_record_is_created_or_updated_":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"mshied_coursehistory","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"mshied_registrationstatusid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Registration_Status_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mshied_registrationstatuses","recordId":"@triggerOutputs()?['body/_mshied_registrationstatusid_value']"},"authentication":"@parameters('$authentication')"}},"Check_if_Is_Course_Completed_fields_not_the_same":{"actions":{"Check_to_see_if_Is_Couse_Completed_is_true_or_false":{"actions":{"Update_Is_Course_Completed_field_in_Couse_Histories_Entity_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mshied_coursehistories","recordId":"@triggerOutputs()?['body/mshied_coursehistoryid']","item/mshied_iscompleted":"@outputs('Get_Registration_Status_Record')?['body/mshied_iscoursecompleted']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"or":[{"equals":["@triggerOutputs()?['body/mshied_iscompleted']",true]},{"equals":["@triggerOutputs()?['body/mshied_iscompleted']",false]}]},"type":"If"}},"runAfter":{"Get_Registration_Status_Record":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_Registration_Status_Record')?['body/mshied_iscoursecompleted']","@triggerOutputs()?['body/mshied_iscompleted']"]}},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}