CDS.solutions/EducationAcceleratorCommon/Extracts/Base/Workflows/FL-CourseHistories-UpdateIsCourseRequired-81D7B095-6B02-EB11-A813-000D3A33F11E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Course_History_record_is_created_or_updated_":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"mshied_coursehistory","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"mshied_courseid,mshied_academicperioddetailsid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Academic_Period_Detail":{"runAfter":{"Stop_If_Academic_Period_Detail_Or_Course_is_Blank":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mshied_academicperioddetailses","recordId":"@triggerOutputs()?['body/_mshied_academicperioddetailsid_value']"},"authentication":"@parameters('$authentication')"}},"Init_Is_Required_Current_Value":{"runAfter":{"Get_Academic_Period_Detail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Is Required - Current Value","type":"boolean","value":"@triggerOutputs()?['body/mshied_isrequired']"}]}},"Init_Is_Required_New_Value":{"runAfter":{"Init_Is_Required_Current_Value":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Is Required New Value","type":"boolean","value":"@triggerOutputs()?['body/mshied_isrequired']"}]}},"Update_Is_Required_If_Different_from_Current_One":{"actions":{"Update_Course_Histories_field_Is_Required":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mshied_coursehistories","recordId":"@triggerOutputs()?['body/mshied_coursehistoryid']","item/mshied_isrequired":"@variables('Is Required New Value')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Is_Required_New_Value_from_Program_Requirement":["Succeeded"]},"expression":{"not":{"equals":["@variables('Is Required - Current Value')","@variables('Is Required New Value')"]}},"type":"If"},"Get_Is_Required_New_Value_from_Program_Requirement":{"actions":{"If_Program_Version_Not_Null":{"actions":{"Find_Program_Requirements":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mshied_programrequirements","$select":"mshied_isrequired","$filter":"_mshied_courseid_value eq '@{triggerOutputs()?['body/_mshied_courseid_value']}' and _mshied_programversionid_value eq '@{outputs('Get_Academic_Period_Detail')?['body/_mshied_programversion_value']}'","$orderby":"createdon desc","$top":1},"authentication":"@parameters('$authentication')"}},"Set_Is_Required_New_Value":{"runAfter":{"Find_Program_Requirements":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Is Required New Value","value":"@outputs('find_program_requirements')?['body/value']?[0]?['mshied_isrequired']"}}},"runAfter":{},"else":{"actions":{"If_Program_Is_Not_Null":{"actions":{"Find_Program_Requirements_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mshied_programrequirements","$select":"mshied_isrequired","$filter":"_mshied_courseid_value eq '@{triggerOutputs()?['body/_mshied_courseid_value']}' and _mshied_programid_value eq '@{outputs('Get_Academic_Period_Detail')?['body/_mshied_programid_value']}'","$orderby":"createdon desc","$top":1},"authentication":"@parameters('$authentication')"}},"Is_Required_New_Value_2":{"runAfter":{"Find_Program_Requirements_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Is Required New Value","value":"@outputs('find_program_requirements_2')?['body/value']?[0]?['mshied_isrequired']"}}},"runAfter":{},"expression":{"not":{"equals":["@outputs('Get_Academic_Period_Detail')?['body/_mshied_programid_value']","@null"]}},"type":"If"}}},"expression":{"not":{"equals":["@outputs('Get_Academic_Period_Detail')?['body/_mshied_programversion_value']","@null"]}},"type":"If"}},"runAfter":{"Init_Is_Required_New_Value":["Succeeded"]},"type":"Scope"},"Stop_If_Academic_Period_Detail_Or_Course_is_Blank":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"or":[{"equals":["@triggerOutputs()?['body/_mshied_academicperioddetailsid_value']","@null"]},{"equals":["@triggerOutputs()?['body/_mshied_courseid_value']","@null"]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}