CDS.solutions/EducationAcceleratorCommon/Extracts/Base/Workflows/FL-CourseHistory-UpdateAcademicPeriod-C031D5FF-6D02-EB11-A813-0022480822CA.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Course_History_record_is_created_or_updated_":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"mshied_coursehistory","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"mshied_academicperioddetailsid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Academic_Period_Details_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mshied_academicperioddetailses","recordId":"@triggerOutputs()?['body/_mshied_academicperioddetailsid_value']"},"authentication":"@parameters('$authentication')"}},"Check_if_Academic_Period_field_values_are_not_the_same":{"actions":{"Check_to_see_if_Academic_Period_is_null":{"actions":{"Update_Academic_Period_field_in_Couse_Histories_Entity_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mshied_coursehistories","recordId":"@triggerOutputs()?['body/mshied_coursehistoryid']","item/mshied_AcademicPeriodid@odata.bind":"/mshied_academicperiods(@{outputs('Get_Academic_Period_Details_Record')?['body/_mshied_academicperiodid_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/_mshied_academicperiodid_value']","@null"]},"type":"If"}},"runAfter":{"Get_Academic_Period_Details_Record":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_Academic_Period_Details_Record')?['body/_mshied_academicperiodid_value']","@triggerOutputs()?['body/_mshied_academicperiodid_value']"]}},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}